<% flash.each do |message_type, message| %>
  <div class="my-2 max-w-2xl mx-auto border border-tertiary rounded-md text-primary px-4 py-3 shadow-sm mb-3" role="alert">
    <div class="flex items-center space-x-2">
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <p class="text-sm"><%= message %></p>
    </div>
  </div>
<% end %>
