<li class="py-4">
  <div class="flex items-center space-x-4">
    <div class="flex-shrink-0">
      <%= image_tag main_app.url_for(user_avatar(user)), class: "h-8 w-8 rounded-full", alt: user.name %>
    </div>
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium text-gray-900 truncate"><%= user.name %></p>
      <p class="text-sm text-gray-500 truncate"><%= "#{user.name}" %></p>
    </div>
    <div>
      <%= link_to "View", user, class: "inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50" %>
    </div>
  </div>
</li>
