<section aria-labelledby="recent-hires-title">
    <div class="rounded-lg bg-white overflow-hidden shadow">
      <div class="p-6">
        <h2 class="text-base font-medium text-gray-900" id="recent-hires-title">Related Users</h2>
        <div class="flow-root mt-6">
          <ul role="list" class="-my-5 divide-y divide-gray-200">
          	<% users.each do |user| %>
            	<%= render "polivalente/users/related/user", user: user %>
          	<% end %>
          </ul>
        </div>
      </div>
    </div>
</section>